* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin-top: 25px;
    position: relative;
    width: 400px;
    height: 500px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.form-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
}

.container h1 { 
    font-size: 32px;
    margin-top: -30px;
}

.input-box { 
    position: relative;
    margin: 20px 0; 
}

.input-box input {
    width: 100%;
    padding: 13px 40px 13px 20px;
    border: none;
    outline: none;
    border-radius: 15px;
    background: #eee;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}


.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box i{ 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.input-box input:focus { 
    background: #ddd;
}

.forget-link { 
    margin: 10px 0 10px;
}

.forget-link a{ 
    color: #333;
    text-decoration: none;
    font-size: 14.5px;
    font-weight: 600;
}

.forget-link a:hover { 
    text-decoration: underline;
}

.btn { 
    width: 100%;
    height: 48px;
    background: #1c1c1d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.btn:hover {
    background: #333;
}
.container p{ 
    margin-top: 15px;
    font-size: 14px;
}

.register-link a{ 
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 14.5px;
}

.register-link a:hover { 
    text-decoration: underline;
}


.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    margin: 20px 0 20px 8px;
    user-select: none;
  }

  .checkbox-container input {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    accent-color: #1c1c1d; 
    cursor: pointer;
  }

  .checkbox-container a{ 
    color: #333;
    text-decoration: none;
    font-weight: 600;
  }

  .checkbox-container a:hover { 
    text-decoration: underline;
  }



