div.container{
    display: flex;
    
}
div.image{
    margin: 1rem;
    padding: 2rem;
}
img{
    width: 500px;
    height: 500px;
    margin: 1rem;
    padding: 3rem;
    object-fit: contain;
}
div.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2rem;
}
section.rating{
    margin-bottom: 2rem;
    span.count{
        color: green;
    }
    app-star-rating{
        margin-right: .3rem;
    }
}
section.price{
    color: red;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: sans-serif;
}
section.title{
    margin-bottom: 2rem;
    font-weight: 650;
    font-size: 2rem;
}
p{
    margin-bottom: 0.5rem;
}
section.category{
    margin-bottom: 1.5rem;
    a{
        text-decoration:none;
        color: green;
    }
}
.add-to-cart{
    display: flex;
    justify-content: start;
    button{
        width: 10rem;
        height: 2rem;
        background-color: rgb(58, 144, 58);
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        font-weight: 650;
        &:hover{
            cursor: pointer;
        }
        &:active{
            background-color: rgb(56, 120, 56);
    }
    }

}