div.nav-bar{
    width: 100%;
    height: auto;
    border-bottom: 1px solid grey;
}
div.container{
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
    padding-top: 1rem;
    section{
        width: auto;
        display: flex;
        align-items: center;
    }
}
section.logo{
    margin-left: 2rem;
    b{
        font-size: 2rem;
    }
}
div#inputWrapper{
    border-radius: 1rem;
    border:1px solid grey;
    width: 23rem;
    height: auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    fa-icon{
        color: grey;
        margin: .3rem;
        size: .3rem;
    }
}
input#search{
    width: 20rem;
    height: 1.5rem;
    border: none;
    padding-left:.5rem;
}
input#search:focus{
    outline: none;
    border: none;
}
section.user{
    margin-right: 2rem;
    fa-icon{
        margin: 1rem;
    }
}