div.all-products{
    display: flex;
    flex-direction: column;
    width: 80%;
}
ul.products-list{
    display: grid;
    grid-gap: 1rem;
    grid-template: auto / auto auto auto auto;
}
ul{
    padding: 0;
    list-style: none;
    li{
        height: 20rem;
        width: 20rem;
    }
}
div.product{
    display: flex;
    flex-direction:column;
    justify-content: space-between;

    width: 20rem;
    height: 20rem;
    border: 1px solid grey;
    border-radius: 5%;
}
div.product:hover{
    border: 1.2px solid rgb(64, 164, 64);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.2s;
}
.product-title{
    display: flex;
    justify-content: center;
    padding: .5rem;
    height: 15%;
    overflow: hidden;
    font-weight: 600;
}
.product-rating{
    display: flex;
    padding: .5rem;
    height: 15%;
    font-weight: 600;
    .rate{
        margin-right: .3rem;
    }
    color: rgb(186, 59, 59);
}
section.product-image{
    display: flex;
    height: 50%;
    justify-content: center;
}
img.product{
    padding: 1rem;
    height: 150px;
    width: 150px;
    object-fit:contain;
}